<%- include("../../views/partials/admin/header") %>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Orders</h2>
    </div>
</div>

<header class="card-header text-center mb-20">
    <form action="" method="get" class="d-inline">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
            <input type="text" class="form-control border-0 rounded-pill" placeholder="Search orders by user or product" name="search">
            <button class="btn border-0" type="submit">Search</button>
        </div>
    </form>
</header>

<div class="right mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><b>Order ID</b></th>
                <th scope="col"><b>User</b></th>
                <th scope="col"><b>Date</b></th>
                <th scope="col"><b>Total Price</b></th>
                <th scope="col"><b>Items</b></th>
                <th scope="col"><b>Order Status</b></th>
                <th scope="col"><b>Payment Status</b></th>
                <th scope="col"><b>Payment Method</b></th>
                <th scope="col"><b>Action</b></th>
            </tr>
        </thead>
        <tbody>
            <% if (orders && orders.length > 0) { %>
                <% orders.forEach((order, index) => { %>
                    <tr class="<%= order.isReturnRequested ? 'table-warning' : '' %>">
                        <td>#<%= order._id.toString().slice(-6) %></td>
                        <td>
                            <%= order.user.name %>
                            <% if (order.isReturnRequested) { %>
                                <span class="badge bg-danger ms-2">Return Requested</span>
                            <% } %>
                        </td>
                        <td><%= order.user.name %></td>
                        <td><%= new Date(order.createdAt).toLocaleString() %></td>
                        <td>₹<%= order.totalPrice %></td>
                        <td><%= order.totalQuantity %></td>
                        <td><%= order.status %></td>
                        <td><%= order.paymentStatus %></td>
                        <td><%= order.paymentMethod %></td>
                        <td>
                            <button class="btn btn-info" style="width: 100px;">
                                <a href="/admin/order-detail/<%= order._id %>" class="text-white" style="text-decoration: none;">View</a>
                            </button>
                        </td>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="7" class="text-center">No orders found</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
            <%for(let i = 1; i <= totalPages; i++){%>
                <li class="page-item <%=(i===currentPage) ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%=i%>"><%= i %></a>
                </li>
                <%}%>
        </ul>
    </nav>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<%- include("../../views/partials/admin/footer") %>
